<div>
      <div v-if="$store.getters.user.admin">
            <div class="slim-pageheader">
                  <ol class="breadcrumb slim-breadcrumb">
                        <li class="breadcrumb-item">
                              Home
                        </li>
                        <li class="breadcrumb-item">
                              <router-link to="/admin">Admin Panel</router-link>
                        </li>
                        <li aria-current="page" class="breadcrumb-item active">รายการเติมเงิน</li>
                  </ol>
                  <h6 class="slim-pagetitle">รายการเติมเงิน</h6>
            </div>
            <div class="row row-sm">
                  <div class="col-lg" v-if="typeof history[history_page_current] == 'undefined'">
                        <div class="card">
                              <div class="card-body">
                                    <div class="row">
                                          <div class="col-12">
                                                <div class="sk-circle">
                                                      <div class="sk-circle1 sk-child"></div>
                                                      <div class="sk-circle2 sk-child"></div>
                                                      <div class="sk-circle3 sk-child"></div>
                                                      <div class="sk-circle4 sk-child"></div>
                                                      <div class="sk-circle5 sk-child"></div>
                                                      <div class="sk-circle6 sk-child"></div>
                                                      <div class="sk-circle7 sk-child"></div>
                                                      <div class="sk-circle8 sk-child"></div>
                                                      <div class="sk-circle9 sk-child"></div>
                                                      <div class="sk-circle10 sk-child"></div>
                                                      <div class="sk-circle11 sk-child"></div>
                                                      <div class="sk-circle12 sk-child"></div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
                  <div class="col-lg" v-else>
                        <div class="card mg-t-15">
                              <div class="card-body">
                                    <h3 class="card-title tx-dark tx-medium mg-b-10">
                                          ประวัติการเติมเงิน
                                    </h3>

                                    <line-chart></line-chart>
                                    <table class="table mg-t-25">
                                          <thead>
                                                <tr>
                                                      <th>เวลา</th>
                                                      <th>โดย</th>
                                                      <th>ช่องทาง</th>
                                                      <th>จำนวน</th>
                                                </tr>
                                          </thead>
                                          <tbody>
                                                <tr v-if="history_on_page.length == 0">
                                                      <td class="tx-center">
                                                            ไม่มีรายการเติมเงิน
                                                      </td>
                                                </tr>
                                                <tr v-else v-for="h in history_on_page">
                                                      <td>{{ h.time | date_format }}</td>
                                                      <td>
                                                            (ID: {{ h.id }}) {{ h.name }}
                                                            <br>
                                                            <small>
                                                                  <i :class="['fa' ,'fa-envelope', {'text-success': h.verify_email != 0}, {'text-danger': h.verify_email == 0}]"></i>
                                                                  {{ h.email }} &nbsp;&nbsp;
                                                                  <i :class="['fa', 'fa-phone', {'text-success': h.verify_phone != 0}, {'text-danger': h.verify_phone == 0}]"></i>
                                                                  {{ h.phone }}
                                                            </small>
                                                      </td>
                                                      <td>{{ history_gateway(h.gateway) }}</td>
                                                      <td>{{ h.amount }}</td>
                                                </tr>
                                          </tbody>
                                    </table>
                                    <div class="pagination-wrapper justify-content-between">
                                          <ul class="pagination mg-b-0">
                                                <li class="page-item" v-if="history_page_current > 1">
                                                      <a class="page-link" @click="history_page('-1')">
                                                            <i class="fa fa-angle-left"></i>
                                                      </a>
                                                </li>
                                          </ul>

                                          <ul class="pagination mg-b-0">
                                                <li class="page-item disabled" v-if="history_page_current - 3 > 0">
                                                      <span class="page-link">...</span>
                                                </li>
                                                <li v-for="i in 2" v-if="history_page_current - (3 - i) > 0" :class="['page-item', {'active': history_page_current == history_page_current - (3 - i)}]">
                                                      <a class="page-link" @click="history_page(history_page_current - (3 - i))">{{ history_page_current - (3 - i) }}</a>
                                                </li>
                                                <li :class="['page-item', 'active']">
                                                      <a class="page-link" @click="false">{{ history_page_current }}</a>
                                                </li>
                                                <li v-for="i in 2" v-if="i + history_page_current <= history_page_amount" :class="['page-item', {'active': history_page_current == i + history_page_current}]">
                                                      <a class="page-link" @click="history_page(i + history_page_current)">{{ i + history_page_current }}</a>
                                                </li>
                                                <li class="page-item disabled" v-if="history_page_current + 2 < history_page_amount">
                                                      <span class="page-link">...</span>
                                                </li>
                                          </ul>

                                          <ul class="pagination mg-b-0">
                                                <li class="page-item" v-if="history_page_current < history_page_amount">
                                                      <a class="page-link" @click="history_page('+1')">
                                                            <i class="fa fa-angle-right"></i>
                                                      </a>
                                                </li>
                                          </ul>
                                    </div>
                              </div>
                              <!-- card-body -->
                        </div>
                  </div>
            </div>
      </div>
      <error-404 v-else></error-404>
</div>