<div>
      <div v-if="$store.getters.user.admin" class="">
            <div class="slim-pageheader">
                  <ol class="breadcrumb slim-breadcrumb">
                        <li class="breadcrumb-item">
                              Home
                        </li>
                        <li class="breadcrumb-item">
                              <router-link to="/admin">Admin Panel</router-link>
                        </li>
                        <li aria-current="page" class="breadcrumb-item active">
                              รายชื่อบัญชีผู้ใช้
                        </li>
                  </ol>
                  <h6 class="slim-pagetitle">รายชื่อบัญชีผู้ใช้</h6>
            </div>

            <div class="row row-sm">
                  <div class="col-lg">
                        <div class="card">
                              <div class="card-body">
                                    <input type="text" class="form-control" placeholder="ค้นหา..." v-model="search">
                                    <table class="table table-bordered mg-t-10">
                                          <thead>
                                                <tr>
                                                      <th>ID</th>
                                                      <th>Email</th>
                                                      <th>เบอร์</th>
                                                      <th>ชื่อ</th>
                                                      <th>เงิน</th>
                                                      <th>VPS</th>
                                                      <th></th>
                                                </tr>
                                          </thead>
                                          <tbody>
                                                <tr v-for="u in users">
                                                      <td class="align-middle">
                                                            {{ u.id }}
                                                      </td>
                                                      <td class="align-middle">
                                                            {{ u.email }}
                                                      </td>
                                                      <td class="align-middle">
                                                            {{ u.phone }}
                                                      </td>
                                                      <td class="align-middle">
                                                            {{ u.name }}
                                                      </td>
                                                      <td class="align-middle">
                                                            {{ u.credit }}
                                                      </td>
                                                      <td class="align-middle">
                                                            {{ u.vps }}
                                                      </td>
                                                      <td class="align-middle text-center">
                                                            <button class="btn btn-sm btn-primary" @click="detail(u)">รายละเอียด</button>
                                                            <button class="btn btn-sm btn-info" @click="loginAS(u)" :disabled="u.id == $store.getters.user.id || u.admin != 0">เข้าสู่ระบบ</button>
                                                      </td>
                                                </tr>
                                          </tbody>
                                    </table>
                              </div>
                              <!-- card-footer -->
                        </div>
                        <!-- card -->
                  </div>
                  <!-- col-8 -->
            </div>
      </div>
      <error-404 v-else></error-404>
</div>